version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
      day: 'monday'
      time: '06:00'
    open-pull-requests-limit: 5
    reviewers:
      - 'demodogo'
    assignees:
      - 'demodogo'
    commit-message:
      prefix: 'chore(deps)'
      include: 'scope'
    labels:
      - 'dependencies'
      - 'automated'
    ignore:
      - dependency-name: '@nestjs/*'
        update-types: ['version-update:semver-major']
